<%= render "home/header" %>
<div class="about-background">
	<div class="container">
		<h3 style="padding-top:30px;"><b>Minimalistestは、ミニマリスト同士のアイデア共有を行うWEBサイトです。<br></b></h3>

		<h4>ミニマリストとは?</h4>
		<h5>
			　ミニマリストとは、最近有名になってきた言葉で、ミニマル(最小限)の考え方をもとに生活する人のことをいいます。<br>
			　生活をミニマルにするための行動としては、「断捨離を行う」「多機能な家電を購入する」等が挙げられます。<br>
			　この考え方を実践することで、「時短できる」「雑務を減らしてやりたいことに集中できる」「身の回りが片付く」等のメリットが得られます。<br>
			　<br>
		</h5>
		<h5>Minimalistestでは、ミニマルな生活のアイデアを共有することで、ユーザの生活がより豊かにする手助けします。</h5>
	</div>
</div>