<%= render "home/header" %>

<div class="container">
	<div class="row">
		<h5 style="margin:30px;"><%= link_to "Minimalistestとは？", home_about_path %></h5>
	</div>

	<div class="row">

		<div class="col-sm-6">
			<h3 class="common-title">ランキング</h3>
			<div class="post-box"></div>
		</div>

		<div class="col-sm-6">
			<h3 class="common-title">新着記事</h3>
			<div class="post-box"></div>
		</div>

	</div>

</div>
