<%= render "admin/home/header" %>

<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			<% if flash[:notice] %>
				<p><%= flash[:notice] %></p>
			<% end %>

			<div class="row">
				<h3>記事一覧</h3>
			</div>

			<% @posts.each do |p| %>
				<%= link_to p.title, admin_post_path(p.id) %>
				<%= link_to "削除", admin_post_path(p.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
			<% end %>



		</div>
	</div>
</div>
