/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.user-header{
	position:sticky;
	top:0;
	z-index:100;
}
.admin-header{
	position:sticky;
	top:0;
	z-index:100;
}

.post-sidebar{
	margin-top:30px;
	width:100%;
	height:500px;
	position:sticky;
	top:86px;
	box-shadow: 2px 2px 4px gray;
}


.common-title{
	margin:15px 0;
}


//---------記事一覧中の記事ボックス---------
.post-box{
	background-color:white;
	margin:30px;
	box-shadow: 2px 2px 4px gray;
}

//---------記事一覧中の記事タイトル---------
.post-box-title{
	width:350px;
	margin:10px;
	float:left;
	font-weight:bold;
	font-size:1.3em;
}

//---------linkのテキストの「青字」「下線」を削除---------
.no-decoration-link{
	color:black;
}
.no-decoration-link:hover{
	text-decoration:none;
}

//---------記事の画像---------
.post-show-image-wrapper{
	width:100%;
	position: relative;
	overflow:hidden;
}
.post-show-image-wrapper:before{
    content:"";
    display:block;
    padding-top:66%;
}
.post-show-image{
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: inherit;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}